<div class="recipe noSubmitOnEnter" data-controller="recipeform" data-recipeform-url="<%= search_tags_path(term: 'term', format: :json) %>">
  <%= form_for @recipe do |f| %>
    <div class="mb-4">
      <%= f.label :name %>
      <div>
        <%= f.text_field :name, placeholder: t('recipes.form.placeholder.name') %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :ingredients %>
      <div>
        <%= f.rich_text_area :ingredients, placeholder: t('recipes.form.placeholder.ingredients') %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :instructions %>
      <div>
        <%= f.rich_text_area :instructions, placeholder: t('recipes.form.placeholder.instructions') %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :duration %>
      <div>
        <%= f.number_field :duration, placeholder: t('recipes.form.placeholder.duration'), autocomplete: 'off' %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :rating %>
      <div>
        <%= f.hidden_field :rating, 'data-recipeform-target': 'rating' %>
        <i class="far fa-star" 
            data-recipeform-target="rating-1"
            data-action="click->recipeform#setrating"
            data-recipeform-rating-param="1"></i>
        <i class="far fa-star" 
            data-recipeform-target="rating-2"
            data-action="click->recipeform#setrating"
            data-recipeform-rating-param="2"></i>
        <i class="far fa-star" 
            data-recipeform-target="rating-3"
            data-action="click->recipeform#setrating"
            data-recipeform-rating-param="3"></i>
        <i class="far fa-star" 
            data-recipeform-target="rating-4"
            data-action="click->recipeform#setrating"
            data-recipeform-rating-param="4"></i>
        <i class="far fa-star" 
            data-recipeform-target="rating-5"
            data-action="click->recipeform#setrating"
            data-recipeform-rating-param="5"></i>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :tags %>
      <div>
        <%= f.text_field :tag_names, placeholder: t('recipes.form.placeholder.tags'), 'data-action': 'keyup->recipeform#findtags', 'data-recipeform-target': 'tags', autocomplete: 'off'  %>
      </div>
      <div data-recipeform-target="tagsSuggestion" class="tagsSuggestion">
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :source %>
      <div>
        <%= f.text_field :source, placeholder: t('recipes.form.placeholder.source'), autocomplete: 'off' %>
      </div>
    </div>
    <div class="mb-4">
      <div>
        <%= f.button t('action.save'), class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
