<div class="container">
  <h1 class="title">
    <%=t 'recipes.new' %>
  </h1>
  <div class="new_recipe" data-controller="recipeimages">
    <%= form_for @recipe, url: {action: "create"} do |f| %>
      <div class="add_image" data-action="click->recipeimages#add">
        <i class="fas fa-camera fa-3x"></i>
      </div>
      <div class="field">
        <%= f.label :name, class: 'label' %>
        <div class="control">
          <%= f.text_field :name, class: 'input', placeholder: t('recipes.form.placeholder.name') %>
        </div>
      </div>
      <div class="field">
        <%= f.label :ingredients, class: 'label' %>
        <div class="control">
          <%= f.text_area :ingredients, class: 'textarea', placeholder: t('recipes.form.placeholder.ingredients') %>
        </div>
      </div>
      <div class="field">
        <%= f.label :instructions, class: 'label' %>
        <div class="control">
          <%= f.text_area :instructions, class: 'textarea', placeholder: t('recipes.form.placeholder.instructions') %>
        </div>
      </div>
      <div data-target="recipeimages.images">

      </div>
      <div class="field">
        <%= f.label :duration, class: 'label' %>
        <div class="control">
          <%= f.number_field :duration, class: 'input', placeholder: t('recipes.form.placeholder.duration') %>
        </div>
      </div>
      <div class="field">
        <%= f.label :tags, class: 'label' %>
        <div class="control">
          <%= f.text_field :tag_names, class: 'input', placeholder: t('recipes.form.placeholder.tags'), 'data-action': 'keyup->recipeimages#findtags', 'data-target': 'recipeimages.tags'  %>
        </div>
        <p data-target="recipeimages.tagsSuggestion" class="tagsSuggestion">
        </p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <%= f.button t('save'), class: 'button is-link' %>
        </div>
      </div>
      <div class="field display_none image_upload" data-target="recipeimages.appendimgtmpl">
        <%= f.label :images, class: 'label' %>
        <div class="control">
          <%= f.file_field 'add_images', accept: 'image/*', multiple: true, class: 'input', placeholder: t('recipes.form.placeholder.add_image'), disabled: true %>
        </div>
        <p>
          blubb
        </p>
      </div>
    <% end %>
  </div>
</div>
