
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <i class="fas fa-utensils fa-3x"></i>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= @recipe.name %></p>
        </div>
      </div>

      <div class="content">
        <div>
          <p>Dauer: <%= @recipe.duration %> Minuten</p>
        </div>
        <div class="tags">
          <% @recipe.tags.each{ |t| %>
            <span class="tag"><%= t.name %></span>
          <% } %>
        </div>
        <div class="ingredients">
          <h1 class="subtitle">Zutaten</h1>
          <%= simple_format @recipe.ingredients %>
        </div>
        <div class="instructions">
          <h1 class="subtitle">Anleitung</h1>
          <%= simple_format @recipe.instructions %>
        </div>
        <div>
          <% @recipe.recipe_images.each do |image| %>
            <%= image_tag image.variant(resize: "100x100") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
