
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <i class="fas fa-utensils fa-3x"></i>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= @recipe.name %></p>
        </div>
      </div>

      <div class="content">
        <div>
          <p><%= t('recipes.show.duration', duration: @recipe.duration) %></p>
        </div>
        <div class="tags">
          <% @recipe.tags.each{ |t| %>
            <span class="tag"><%= t.name %></span>
          <% } %>
        </div>
        <div class="ingredients">
          <h1 class="subtitle"><%= t('recipes.ingredients') %></h1>
          <%= simple_format @recipe.ingredients %>
        </div>
        <div class="instructions">
          <h1 class="subtitle"><%= t('recipes.instructions') %></h1>
          <%= simple_format @recipe.instructions %>
        </div>
        <div>
          <% @recipe.recipe_images.each do |image| %>
            <a href="<%= url_for(image) %>">
              <%= image_tag image.variant(resize: "100x100") %>
            </a>
          <% end %>
        </div>
        <div>
          <%=t 'actions' %>:&nbsp;
          <a href="<%= edit_recipe_path @recipe %>"><i class="fas fa-edit"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
