
<div class="container" data-controller="recipe" data-recipe-id="<%= @recipe.id %>" data-recipe-url="<%= recipe_path(@recipe, :format => :json) %>">
  <article class="media">
    <figure class="media-left">
      <i class="fas fa-utensils fa-3x"></i>
    </figure>
    <div class="media-content">
      <h1 class="title">
        <%= @recipe.name %>
      </h1>
    </div>
  </article>  
  <div class="ingredients spacetop">
    <p class="subtitle is-3"><%= t('recipes.ingredients') %></p>
    <%= simple_format @recipe.ingredients %>
  </div>
  <div class="instructions spacetop spacebottom">
    <p class="subtitle is-3">
      <%= t('recipes.instructions') %>
      <% if @recipe.duration %>
        <span class="content is-medium paddingleft">
          <%=t 'recipes.show.duration' %>: <%= @recipe.duration %> <%=t 'recipes.show.durationunit' %>
        </span>
      <% end %>
    </p>
    <%= simple_format @recipe.instructions %>
  </div>
  <% unless @recipe.source.empty? %>
    <div>
      <p><%= t('recipes.show.source') %>: <%= with_url_links @recipe.source %></p>
    </div>
  <% end %>
  <% unless @recipe.tags.empty? %>
    <div class="recipe_tags">
      <p><span class="prop_fix"><%=t 'recipes.show.tags' %>:</span>
      <% @recipe.tags.each{ |t| %>
        <span class="tag is-dark"><%= t.name %></span>
      <% } %>
      </p>
    </div>
  <% end %>
  <div class="buttons spacetop">
    <a class="button is-info" href="<%= edit_recipe_path @recipe %>">
      <span class="icon is-small">
        <i class="fas fa-edit"></i>
      </span>
      <span><%=t 'action.edit' %></span>
    </a>
    <a class="button is-info" data-action="click->recipe#deleteDialogShow">
      <span class="icon is-small">
        <i class="fas fa-trash"></i>
      </span>
      <span><%=t 'action.delete' %></span>
    </a>
  </div>
  <div>
    <% @recipe.recipe_images.each do |image| %>
      <a href="<%= url_for(image) %>">
        <%= image_tag image.variant(resize: "100x100") %>
      </a>
    <% end %>
  </div>
  <div class="buttons">
    <a class="button is-info" href="<%= new_recipe_recipe_image_path @recipe %>">
      <span class="icon is-small">
        <i class="fas fa-camera"></i>
      </span>
      <span><%=t 'action.image_add' %></span>
    </a>
    <% if @recipe.recipe_images.count > 0 %>
      <a class="button is-info" href="<%= delete_select_recipe_recipe_images_path @recipe %>">
        <span class="icon is-small">
          <i class="fas fa-trash"></i>
        </span>
        <span><%=t 'action.image_delete' %></span>
      </a>
    <% end %>
  </div>

  <div class="modal" data-target="recipe.deleteDialog">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="card">
        <div class="card-content">
          <p>
            <%=t 'recipes.delete.are_you_sure' %>
          </p>
          <p>
            <button class="button is-danger"  data-action="click->recipe#delete"><%=t 'yes' %></button>
            <button class="button" data-action="click->recipe#deleteDialogClose"><%=t 'no' %></button>
          </p>
        </div>
      <button class="modal-close is-large" aria-label="close" data-action="click->recipe#deleteDialogClose"></button>
    </div>
  </div>
</div>
