
<div
     data-controller="recipe" 
     data-recipe-id="<%= @recipe.id %>" 
     data-recipe-url="<%= recipe_path(@recipe, :format => :json) %>" 
     data-recipe-favorite-url="<%= favorite_recipe_path(@recipe, :format => :json) %>" 
     data-recipe-editstate="false">
  <div>
    <span class="heading_1">
      <%= @recipe.name %>
      <% if @recipe.favorite %> 
        <i class="fas fa-star is-size-5 text-primary"></i>
      <% end %>
    </span>
  </div>
  <div class="ingredients">
    <p>
      <span class="heading_2"><%= t('recipes.ingredients') %></span>
    </p>
    <div>
      <%= @recipe.ingredients %>
    </div>
  </div>
  <div class="instructions">
    <p>
      <span class="heading_2">
        <%= t('recipes.instructions') %>
        <% if @recipe.duration %>
          <span class="subheading"><%=t 'recipes.show.duration' %>: <%= @recipe.duration %> <%=t 'recipes.show.durationunit' %></span>
        <% end %>
      </span>
    </p>
    <div class="content">
      <%= @recipe.instructions %>
    </div>
  </div>
  <% unless @recipe.source.nil? || @recipe.source.empty? %>
    <div class="recipe_source">
      <p><span class="heading_3"><%= t('recipes.show.source') %>:</span> <%= with_url_links @recipe.source %></p>
    </div>
  <% end %>
  <% unless @recipe.tags.empty? %>
    <div class="recipe_tags">
      <p><span class="heading_3"><%=t 'recipes.show.tags' %>:</span>
      <% @recipe.tags.each{ |t| %>
        <%= render :partial => 'shared/tag', :locals => { tag: t } %>
      <% } %>
      </p>
    </div>
  <% end %>
  <% if @recipe.recipe_images.count > 0 %>
    <div class="spacetop recipe_images">
      <% @recipe.recipe_images.each do |image| %>
        <a data-action="click->recipe#lightboxOpen" data-imageurl="<%= url_for(image) %>">
          <%= image_tag image.variant(resize: "100x100") %>
        </a>
      <% end %>
    </div>
  <% end %>


  <div class="bottomactions">
    <button class="button" data-action="click->recipe#toggleeditbuttons" data-target="recipe.editon">
      <i class="fas fa-caret-right"></i>
    </button>
    <button class="button hidden" data-action="click->recipe#toggleeditbuttons" data-target="recipe.editoff">
      <i class="fas fa-caret-left"></i>
    </button>

    <button class="button hidden" data-action="click->recipe#favorite" data-target="recipe.editbuttons">
      <% if @recipe.favorite %> 
        <i class="fas fa-star"></i>
      <% else %>
        <i class="far fa-star"></i>
      <% end %>
    </button>
    <button class="button hidden" href="<%= edit_recipe_path @recipe %>" data-target="recipe.editbuttons">
      <i class="fas fa-edit"></i>
      <span><%=t 'action.edit' %></span>
    </button>
    <button class="button hidden" data-action="click->recipe#deleteDialogShow" data-target="recipe.editbuttons">
      <i class="fas fa-trash"></i>
      <span><%=t 'action.delete' %></span>
    </button>
    <button class="button hidden" href="<%= new_recipe_recipe_image_path @recipe %>" data-target="recipe.editbuttons">
      <i class="fas fa-camera"></i>
      <span><%=t 'action.image_add' %></span>
    </button>
    <% if @recipe.recipe_images.count > 0 %>
      <button class="button hidden" href="<%= delete_select_recipe_recipe_images_path @recipe %>" data-target="recipe.editbuttons">
        <i class="fas fa-trash"></i>
        <span><%=t 'action.image_delete' %></span>
      </button>
    <% end %>
    <% if @recipe.recipe_images.count > 0 %>
      <button class="button hidden" href="<%= ocr_path @recipe %>" data-target="recipe.editbuttons">
        <i class="fas fa-font"></i>
        <span><%=t 'action.image_ocr' %></span>
      </button>
    <% end %>
  </div>

  <div class="recipe_url mt-2">
    <span class="heading_3"><%=t 'url' %>:</span>
    <span><%= link_to recipe_url(@recipe) %></span>
  </div>

  <div class="modal" data-target="recipe.deleteDialog">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="card">
        <div class="card-content">
          <p>
            <%=t 'recipes.delete.are_you_sure' %>
          </p>
          <p>
            <button class="button is-danger"  data-action="click->recipe#delete"><%=t 'yes' %></button>
            <button class="button" data-action="click->recipe#deleteDialogClose"><%=t 'no' %></button>
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close" data-action="click->recipe#deleteDialogClose"></button>
      </div>
    </div>
  </div>

  <div class="modal" data-recipe-target="lightbox">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="card">
        <div class="card-content">
          <p>
            <img class="lightboximg" data-recipe-target="lightboximg">
            <a data-action="click->recipe#lightboxClose">Bild schliessen</a>
            |
            <a href="" target="_blank" data-recipe-target="lightboxlink">Original anzeigen</a>
          </p>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" data-action="click->recipe#lightboxClose"></button>
    </div>
  </div>
</div>
