<!-- navigation bar -->
<div class="flex-1 flex flex-col">
  <nav class="px-4 flex justify-between bg-white h-16 border-b-2">

    <!-- top bar left -->
    <ul class="flex items-center">
      <!-- add button -->
      <li class="h-6 w-6">
        <i class="fas fa-utensils fa-2x"></i>
      </li>
    </ul>

    <ul class="flex items-center">
      <!-- add button -->
      <li>
        <h1 class="pl-8 lg:pl-0 text-gray-700">Rezepte</h1>
      </li>
    </ul>

    <!-- to bar right  -->
    <ul class="flex items-center">
      <% unless session[:userinfo].nil? %>
        <a class="nav_item_right" href="<%= recipes_path %>">
          <li>
            <i class="fas fa-list-ul" title="<%= t('nav.recipes') %>"></i>
          </li>
        </a>
        <a class="nav_item_right" href="<%= new_recipe_path %>">
          <li>
            <i class="fas fa-plus-square" title="<%= t('nav.new_recipe') %>"></i>
          </li>
        </a>
        <a class="nav_item_right" href="<%= tags_path %>">
          <li>
            <i class="fas fa-tags" title="<%= t('nav.tags') %>"></i>
          </li>
        </a>

        <% unless session[:userinfo].nil? %>
          <a class="nav_item_right hidden md:block" href="<%= profile_path %>">
            <li>
              <i class="fas fa-user"></i>
              <%= session[:userinfo]['email'] %>
            </li>
          </a>
        <% end %>

        <a class="nav_item_right" href="<%= auth0_logout_path %>" method=":post">
          <li>
            <i class="fas fa-arrow-right-from-bracket" title="<%= t('nav.logout') %>"></i>
          </li>
        </a>
      <% end %>

      <% if session[:userinfo].nil? %>
        <%= button_to '/auth/auth0', data: { turbo_method: :post }, class: 'button_link, nav_item_right' do %>
          <li>
            <i class="fas fa-arrow-right-to-bracket" title="<%= t('nav.login') %>"></i>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>
