<div class="grid grid-cols-2 gap-4">
  <div>
    <div class="canvases">
      <canvas 
        id="canvas0"
        class="ocrcanvas" 
        data-ocr-selection-target="canvasImg"
        >
      </canvas>
      <canvas 
        id="canvas1"
        class="ocrcanvas" 
        data-ocr-selection-target="canvasSelect"
        data-action="mousedown->ocr-selection#mousedown mouseup->ocr-selection#mouseup mousemove->ocr-selection#mousemove"
        >
      </canvas>
    </div>
  </div>
  <div>
    <div>
      <%= select_tag 'language', options_for_select([[t('ocr.show.lang.deu'), 'deu'], [t('ocr.show.lang.eng'), 'eng']], 'deu'), data: { 'ocr-selection-target': 'language'} %>
      <%= button_tag t('ocr.show.submit'), class: 'button', data: { action: 'click->ocr-selection#submit'} %>
      <span class="hidden" data-ocr-selection-target="spinner">
        <i class="fas fa-spinner fa-spin"></i>
      </span>
      <%= button_tag t('ocr.show.toclipboard'), class: 'button', data: { action: 'click->ocr-selection#toclipboard', 'ocr-selection-target': 'toclipboardbtn'} %>
      <%= button_tag t('ocr.show.save_to_recipe'), class: 'button button-action', data: { action: 'click->ocr-selection#saveToRecipe', 'ocr-selection-target': 'saveToRecipeBtn'} %>
      
      <%= text_area_tag :recognized, 
            nil, 
            class: 'textarea w-full', 
            placeholder: t('ocr.show.recognized_text_placeholder'), 
            data: { 
              'ocr-selection-target': 'recognizedtext'
            }, 
            rows: 20, 
            autocomplete: 'off' 
      %>    </div>
  </div>
</div>
