<div>
  <div class="mb-4">
    <span class="heading_2">
      <%=t 'action.image_delete' %> - <%=t @recipe.name %>
    </span>
  </div>
  <div class="delete_images" data-controller="recipeimagesdelete">
    <p>
      <%=t 'recipes.delete.info' %>
    </p>
    <div class="not-prose">
      <% @recipe.recipe_images.each do |image| %>
        <%= image_tag image.variant(resize_to_fit: [100,100]), 
                class: 'image_inline border-2 border-solid border-transparent', 
                data: { 
                  'filename': image.filename.to_s, 
                  action: 'click->recipeimagesdelete#select' 
                  } %>
      <% end %>
    </div>
    <%= form_tag(delete_recipe_recipe_images_path(@recipe), method: :put, data: { 'recipeimagesdelete-target': 'form'}) do %>
      <%= hidden_field_tag 'filenames', '', { 'data-recipeimagesdelete-target': 'filenames'} %>
      <div class="buttons mt-4">
        <span class="hidden" data-recipeimagesdelete-target="spinner">
            <i class="fas fa-2x fa-spinner fa-spin"></i>
        </span>
        <%= button_tag t('action.delete'), class: 'button', disabled: 'true', 
              'data-recipeimagesdelete-target': 'submitbutton', 'data-action': 'click->recipeimagesdelete#save' %>
        <a href="<%= recipe_path(@recipe) %>" class="not-prose">
          <%= button_tag t('action.cancel'), type: 'button', class: 'ml-4 button button-secondary' %>
        </a>
      </div>
    <% end %>
  </div
</div>
