<div>
  <div class="mb-4">
    <span class="heading_2">
      <%=t 'action.image_delete' %> - <%=t @recipe.name %>
    </span>
  </div>
  <div class="delete_images" data-controller="recipeimagesdelete">
    <p>
      <%=t 'recipes.delete.info' %>
    </p>
    <div class="not-prose">
      <% @recipe.recipe_images.each do |image| %>
        <%= image_tag image.variant(resize: "100x100"), class: 'image_inline border-2 border-solid border-transparent', data: { 'filename': image.filename, action: 'click->recipeimagesdelete#select' } %>
      <% end %>
    </div>
    <%= form_tag(delete_recipe_recipe_images_path(@recipe), method: :put) do %>
      <%= hidden_field_tag 'filenames', '', { 'data-recipeimagesdelete-target': 'filenames'} %>
      <div class="buttons mt-4">
        <%= button_tag t('action.delete'), class: 'button', disabled: 'true', 'data-recipeimagesdelete-target': 'submitbutton' %>
        <a href="<%= recipe_path(@recipe) %>" class="not-prose">
          <%= button_tag t('action.cancel'), type: 'button', class: 'ml-4 button button-secondary' %>
        </a>
      </div>
    <% end %>
  </div
</div>
