<div class="container">
  <h1 class="title"><%=t @recipe.name %></h1>
  <h2 class="subtitle">
    <%=t 'action.image_delete' %>
  </h2>
  <div class="delete_images" data-controller="recipeimagesdelete">
    <% @recipe.recipe_images.each do |image| %>
      <%= image_tag image.variant(resize: "100x100"), class: 'to_delete', data: { 'filename': image.filename, action: 'click->recipeimagesdelete#select' } %>
    <% end %>
    <%= form_tag(delete_recipe_recipe_images_path(@recipe), method: :put) do %>
      <%= hidden_field_tag 'filenames', '', { 'data-target': 'recipeimagesdelete.filenames'} %>
      <div class="buttons">
        <%= button_tag t('action.delete'), class: 'button is-danger' %>
        <a href="<%= recipe_path(@recipe) %>" class="button"><%=t 'action.cancel' %></a>
      </div>
    <% end %>
  </div
</div>
