<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @page_title %>
      <title><%= "#{@page_title} | #{t('application_title')}"  %></title>
    <% else %>
      <title><%=t 'application_title' %></title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <%= render :partial => 'shared/navigation' %>
    <section class="container mx-auto px-4 mt-4 prose">
      <%= render :partial => 'shared/messages' %>
      <%= yield %>
    </section>
  </body>
</html>
